{
  "presets": [[
    "@babel/preset-env", {
      "shippedProposals": true,
      "forceAllTransforms": true
    }
  ]],
  "compact": true,
  "comments": false,
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", {
      "useBuiltIns": true
    }],
    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables"
  ]
}
