// ==========================================================================
// Global styles
// Selectors with wide coverage
// ==========================================================================

body {
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}
