// Breakpoints
$base:   0px;
$small:  480px;
$medium: 768px;
$ipad:   1024px;
$large:  1280px;
$xlarge: 1440px;
$huge:   1681px;
$max:    1920px;

// Define breakpoints for include media
$breakpoints: (
base:   $base,
small:  $small,
medium: $medium,
ipad:   $ipad,
large:  $large,
xlarge: $xlarge,
huge:   $huge,
max:    $max,
);
