{% extends '_layouts/base' %}
{% import '_macros' as utils %}

{% block content %}

    <div class="helloicon">{{ utils.icon('crafty') }}</div>
    <div class="hello">Go get Crafty!</div>

{% endblock %}
