// =============================================================================
// Main
// =============================================================================
@import
'base/normalize',
'base/variables',
'base/devtools',
'icon';

body {
  box-sizing: border-box;
  min-height: 100vh;

  color: #FFF;
  background: #dd3e28;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 5rem;
  padding: 2rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}
