// =============================================================================
// Main
// =============================================================================
@import
'base/normalize',
'base/variables',
'base/devtools',
'icon';

body {
    box-sizing: border-box;
    min-height: 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}
